# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
specs/
/coverage/
/ob-upload-keystore.jks
/example/build/7aa1711397d30fa18ef3c6aa66b1fcb2/.filecache
/example/build/7aa1711397d30fa18ef3c6aa66b1fcb2/_composite.stamp
/example/build/7aa1711397d30fa18ef3c6aa66b1fcb2/dart_build.d
/example/build/7aa1711397d30fa18ef3c6aa66b1fcb2/dart_build.stamp
/example/build/7aa1711397d30fa18ef3c6aa66b1fcb2/dart_build_result.json
/example/build/7aa1711397d30fa18ef3c6aa66b1fcb2/gen_dart_plugin_registrant.stamp
/example/build/7aa1711397d30fa18ef3c6aa66b1fcb2/gen_localizations.stamp
/example/build/7aa1711397d30fa18ef3c6aa66b1fcb2/outputs.json
/example/build/flutter_assets/shaders/ink_sparkle.frag
/example/build/flutter_assets/shaders/stretch_effect.frag
/example/build/flutter_assets/.last_build_id
/example/build/flutter_assets/AssetManifest.bin
/example/build/flutter_assets/AssetManifest.bin.json
/example/build/flutter_assets/FontManifest.json
/example/build/flutter_assets/isolate_snapshot_data
/example/build/flutter_assets/kernel_blob.bin
/example/build/flutter_assets/NativeAssetsManifest.json
/example/build/flutter_assets/NOTICES
/example/build/flutter_assets/NOTICES.Z
/example/build/flutter_assets/vm_snapshot_data
/example/build/native_hooks/.last_build_id
/example/build/db9559c4eb3b3bc4f5d2c4314d8913f4.cache.dill.track.dill
/example/build/last_build_run.json
/example/build/snapshot_blob.bin.d
/swipe_action_cell.git/hooks/applypatch-msg.sample
/swipe_action_cell.git/hooks/commit-msg.sample
/swipe_action_cell.git/hooks/fsmonitor-watchman.sample
/swipe_action_cell.git/hooks/post-update.sample
/swipe_action_cell.git/hooks/pre-applypatch.sample
/swipe_action_cell.git/hooks/pre-commit.sample
/swipe_action_cell.git/hooks/pre-merge-commit.sample
/swipe_action_cell.git/hooks/pre-push.sample
/swipe_action_cell.git/hooks/pre-rebase.sample
/swipe_action_cell.git/hooks/pre-receive.sample
/swipe_action_cell.git/hooks/prepare-commit-msg.sample
/swipe_action_cell.git/hooks/push-to-checkout.sample
/swipe_action_cell.git/hooks/sendemail-validate.sample
/swipe_action_cell.git/hooks/update.sample
/swipe_action_cell.git/info/exclude
/swipe_action_cell.git/objects/pack/pack-6e0778b6daa1d2a20355ed4bdc9c143998b2f7cc.idx
/swipe_action_cell.git/objects/pack/pack-6e0778b6daa1d2a20355ed4bdc9c143998b2f7cc.pack
/swipe_action_cell.git/objects/pack/pack-6e0778b6daa1d2a20355ed4bdc9c143998b2f7cc.rev
/swipe_action_cell.git/config
/swipe_action_cell.git/description
/swipe_action_cell.git/HEAD
/swipe_action_cell.git/packed-refs
